<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">


        <div class="col-12">
            <div class="toolbar"></div>
            <table id="table" class="table table-bordered">
                <thead class="text-center thead-dark">
                <tr>
                    <th>Field</th>
                    <th>Valeur</th>
                    <th>Editer</th>
                </tr>
                </thead>
                <tbody class="text-center text-light bg-secondary" id="table-content"></tbody>
            </table>
        </div>
    </div>


</div>
<script src="/js/jquery.js"></script>
<script>
    function update(key) {
        console.log(key, $('#' + key).val());
        let dataR = JSON.parse('{"' + key + '": "' + $('#' + key).val() + '"}');
        console.log(dataR);
        $.ajax({
            type: "POST",
            url: window.location.pathname.replace('import', 'api') + '/update',
            data: {
                dataToUpdate: dataR
            }
        })
    }

    let index = 0;
    $.ajax({
        url: window.location.pathname.replace('import', 'api'), // La ressource ciblée
        success: (data, status) => {
            Object.keys(data[0]).forEach((key) => {
                let row = '<tr>' +
                    "<td>" + key + "</td>" +
                    '<td><textarea id="' + key + '">' + data[0][key] + '</textarea></td>' +
                    `<td><button class='update' onclick='update("` + key + `")'>editer</button></td>` +
                    '</tr>';
                $('#table-content').append(row);
                if (index == 1) {
                    $(".toolbar")
                        .append("" +
                            "<button onclick='supprimer(" + data[0][key] + ")' class='btn-block col-6 mx-auto my-3 btn btn-outline-danger'>Supprimer</button>"
                        );
                }
                index++;
            });
        }
    });

    function supprimer(id) {
        let id_import = window.location.pathname.split('/')[2]
        $.post({
            url: "/api/" + id_import + "/" + id + "/delete"
        })
    }
</script>
</body>
</html>