<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tableau</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/css/datatables.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-12">
            <h3>Liste des hotels</h3>
            <table id="table" class="table table-bordered">
                <thead class="text-center thead-dark">
                <tr>
                    <th>Dernière revue</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Note</th>
                </tr>

                </thead>
                <tbody class="text-center text-light bg-secondary" id="table-content"></tbody>
            </table>
        </div>
    </div>

</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/datatables.js"></script>
<script src="/js/table.datatables.js"></script>
<script src="/js/table.functions.js"></script>
</body>
</html>