<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/upload.css">
</head>
<body>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Uploader une image
                </div>
                <div class="card-body upload-card">
                    <span>Cliquez sur le bouton pour sélectionner une image :</span>
                    <input onchange="onFileSelected(event)" id="imgToUpload" type="file" style="display: none">
                    <div class="img-container">
                        <button onclick="openUpload()" class="btn btn-outline-primary">
                            <i  class="fa fa-upload"></i><br>
                            <label style="font-size: 0.8em; cursor: pointer; font-weight: bold" for="">Upload</label>
                        </button>
                        <img id="myimage" >
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/37f1613248.js" crossorigin="anonymous"></script>
<script>
function openUpload() {
    $("#imgToUpload").trigger('click');
}

function onFileSelected(event) {
    var selectedFile = event.target.files[0];
    var reader = new FileReader();

    var imgtag = document.getElementById("myimage");
    imgtag.title = selectedFile.name;

    reader.onload = function(event) {
        imgtag.src = event.target.result;
    };
    $(imgtag).css("height","200px");
    reader.readAsDataURL(selectedFile);
}
</script>
</body>
</html>